<div class="container mx-3 my-3">
  <div class="custome-border mt-2">
    <h4>Mainten Role Level Access Control</h4>
  </div>

  <div class="form mx-3 my-3">
    <form [formGroup]="AccessForm">
      <p class="ms-2">Search Criteria</p>
      <div class="row ms-3 pb-3">
        <div class="col-4 position-relative">
          <label for="exampleFormControlInput1" class="form-label"
            >Role <span class="text-danger"> *</span></label
          >
          <select class="form-select no-arrow" aria-label="Default select example" formControlName="role">
            <option selected disabled>Open this select menu</option>
            @for (role of SinglRoles; track role) {
            <option [value]="role">{{role}}</option>
            }
          </select>
          <i
            style="margin-left: 8rem; z-index: 1"
            class="fa-solid fa-magnifying-glass position-absolute top-50 end-0 me-4 mt-3 translate-middle-y text-secondary"
          ></i>
        </div>
        <div class="col-4">
          <label for="exampleFormControlInput1" class="form-label"
            >Access Control Type <span class="text-danger"> *</span></label
          >
          <select class="form-select no-arrow" aria-label="Default select example" formControlName="accessControlType">
            <option selected disabled>Open this select menu</option>
            @for (role of controlTypes; track role) {
            <option [value]="role">{{role}}</option>
            }
          </select>
        </div>
        <div class="col-4">
          <label for="exampleFormControlInput1" class="form-label"
            >Case Category <span class="text-danger"> *</span></label
          >
          <select class="form-select no-arrow" aria-label="Default select example" formControlName="caseCategory">
            <option selected disabled>Open this select menu</option>
            @for (role of caseCategory; track role) {
            <option [value]="role">{{role}}</option>
            }
          </select>
        </div>
      </div>
      <div class="row ms-3 pb-3">
        <div class="col-4">
          <label for="exampleFormControlInput1" class="form-label"
            >Case Category <span class="text-danger"> *</span></label
          >
          <select class="form-select no-arrow" aria-label="Default select roles" formControlName="caseSubCategory">
            <option selected disabled>Open this select menu</option>
            @for (role of caseSubCategory; track role) {
            <option [value]="role">{{role}}</option>
            }
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-end" style="padding-bottom: 35px">
        <button type="button" class="btn btn-light me-2">Clear</button>
        <button type="submit" class="btn btn-light" (click)="onSearch()">Search</button>
      </div>
    </form>
  </div>
</div>
